body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #5e151a;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.tips {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.tips h2 {
    color: #333;
}

.tips ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    background-color: #450f1b;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
